$base-color: #fff7ee;
//$base-color: #e9e7da;
$primary-color: #cf9a5e;
//$primary-color: #c693a6;
$secondary-color: #bda5a6;
//$secondary-color: #b1aec6;
$secondary-dark-color: #311b0e;

$white-color: #ffffff;

$text-grey: #333333;
$medium-grey: rgba(0, 0, 0, 0.6);
$light-grey: rgba(0, 0, 0, 0.3);
