@use '@/styles/containers';

.container {
  @include containers.blockContainer;
  @include containers.flex(column);
  width: 100%;
  align-items: center;
}

.title {
}

.content {
  width: 100%;
  margin-top: 32px;
}

.slider {
  //min-height: 200px;
}
